CHATBOT_SERVER_URL=http://hostname-here:port-here

# user uuid
USER_UUID=

# client uuid under which client user exists or logs in
CLIENT_UUID='your-client-uuid'

# client user email
USER_EMAIL='your-client-user-email'

#llm model to use for response evaluation
MODEL_NAME=amazon.nova-micro-v1:0