CHATBOT_SERVER_URL=http://hostname-here:port-here

# client uuid under which client user exists or logs in
CLIENT_UUID='your-client-uuid'

#llm model to use for response evaluation
MODEL_NAME=amazon.nova-micro-v1:0

# cookie header
COOKIE=